{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "useESModules": true
      }
    ],
    "@babel/proposal-class-properties"
  ]
}
